<br><br><br>




<div class="">
      <div class="well well-sm">
        <div>
          <h4 > <center>   Order Summary </center></h4>
        </div>


      <div >
        <h3>Movie Details </h3>
      </div>
      <br>

      <div>
        <h5>Theratre details</h5>
      </div>
        <br>

      <div>
        <h5> Show Time </h5>
      </div>
      <div>
      <h5>  No. of tickets </h5>
    </div>
      <div>
      ...................................................................................
    </div>
        <h3> Total Amount</h3>

</div>
</div>
    <div>
    <center>  <button class="btn btn-success"> Pay Here</input> </center>
    </div>

</div>
</div>
